[color]
        ui = auto
        diff = auto
        status = auto

[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green

[alias]
        br = branch
        changes = diff --name-status -r
        ci = commit
        co = checkout
        diffstat = diff --stat -r
        l = log --abbrev-commit --pretty=oneline --graph --decorate
        recent = log --max-count=5
        serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
        st = status

[diff]
        renames = true

[receive]
        denyCurrentBranch = warn

[core]
        autocrlf = false
        filemode = false

[user]
	name = Gareth Jones
	email = gjones@drw.com
[push]
	default = simple
