.vim/.netrwhist
bin/anyconnect
#*
.DS_Store
.svn
*~
*.swp
.*.swp
.\#*.*
*/#*
*/#.*#
doc/tags
.emacs.d/auto-save-list
.emacs.d/backups/*
.emacs.d/elpa/*
.emacs.d/swank/*
.emacs.d/.smex-items
.emacs.d/places
.emacs.d/eshell
.emacs.d/url
.emacs.d/ac-comphist.dat
.emacs.d/tramp
.emacs.d/el-get
.emacs.d/request
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad.errors
.xmonad/xmonad-*
vim/
