[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
